@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

body{
    background-color: lightgrey;
}

div {
    background-color: pink;
    height: 350px;
    width: 100%;
    margin: 0px;
    display: inline-block;
}

img {
    border: 3px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 40px;
}

p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 15px;
}
